<div class="navbar-container">
  <div class="container">
    <div class="navbar-items">
      <div>
        <%= link_to root_path do %>
          <h2>Cash Register</h2>
        <% end %>
      </div>
      <div>
        <%= link_to cart_products_path do %>
          <i class="fas fa-shopping-cart"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
