.green-btn{
  background-color: rgb(18, 239, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  a{
    color:black;
  }

  p{
    margin: 0;
    color: black;
  }
}
