<div class="container">
  <div class="row justify-content-center vh-100 align-items-center">
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center">
          <h4>Products</h4>
        </div>
        <div class="product-container">
          <% @products.each do |product| %>
          <div >
            <div class="product-image">
              <%= image_tag product.photo_path %>
            </div>
            <div class="product-details">
              <p><%= product.name %></p>
              <p><%= product.price %>€</p>
            </div>
            <%= link_to new_cart_product_path(product.id) do %>
            <div class="blue-btn my-2">
              <p>Add quantity</p>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
